																									
																									GRID ONLY LEARN


																									display: grid;

							

	width
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	
	height
	grid-auto-rows: minmax(100px, auto);
	
	
	equal size giver in grid
	gap: 10px;
	
	
<div class="grid-container">
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>  
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
  <div><i class="fa fa-folder-open-o"></i></div>
          
</div>  	
	
